
#sucess-container {
    width: 100vw;
    height: 100vh;
    background-color:var(--color-primary);
    background-image:url('../../assets/images/success-background.svg')
}

#sucess-container .check-icon-image{
    height: 20rem;
    width: 20rem;
} 
#sucess-container .sucess-context{
    margin:10rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sucess-container .sucess-context button{
    width: 3rem;
}
#sucess-container .sucess-context button:hover{
    background:var(--color-secundary-dark)
}
#sucess-container .sucess-context h1{
    font-weight: 500;
    font-size: 4rem;
    line-height:4.6rem;
    margin-top: 0.8rem;
    color: var(--color-input-background);
}
#sucess-container .sucess-context p{
    font-weight: 500;
    font-size: 2.4rem;
    line-height:4.6rem;
    margin-top: 0.8rem;
    color: var(--color-title-in-primary);
}
#sucess-container .sucess-context link{
    background: var(--color-secundary);
}