.button-component{
    min-width: 30rem;
    min-height: 6rem;
    width: 100%;
    border-radius: 0.8rem;
    border: 0;
    font: 700 2.0rem Archivo;
    
    transition: backgrond-color 0.2s;
   
    color: var(--color-text-complement);
    background: var(--color-line-in-white);

}
.button-component::houver{
    color: var(--color-button-text);
    background-color: var(--color-secundary);
}