#page-recover-container{
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    color: var(--color-text-in-primary);
    background: var(--color-input-background);
    
}

#page-recover-container .banner-container{
    width: auto;
}

#page-recover-container .form-container{
    width: auto;
    height: 100%;
    min-width: 60rem;
    margin-bottom: 0;
}
#page-recover-container .header-container{
    margin-left: 10rem; 
    margin-top: 0;   
}
#page-recover-container .form-container form fieldset{
    border: 0;
    
}
#page-recover-container .form-container form{
    padding: 15rem 16rem;
    min-width: 70rem;
    
}
#page-recover-container .form-container form h2{
    font: 700 4rem Poppins;
    color: var(--color-text-title);
    
}
#page-recover-container .form-container form label{
    font: 700 1.4rem Poppins;
    color: var(--color-text-base);
}

@media( min-width: 1100px){
    #page-recover-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
           
    }
    #page-recover-container .banner-container{
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
    }
    #page-recover-container .form-container{
        width: 100%;
        margin-left: 0;
        align-items: center;
    }
}