#page-login-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--color-text-in-primary);
    
}
.banner-container{
    width: auto;
}

.form-container{
    width: auto;
    height: 100%;
    margin-bottom: 0;
    background: var(--color-line-in-white);
}
.footer-block{
    background: var(--color-line-in-white);

}
.login-block{
    
}
.form-container form fieldset{
    border: 0;
}
.footer-block{
   
}
@media( min-width: 1100px){
    #page-login-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .banner-container{
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .form-container{
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }
}