.banner-container{
   min-width: 60rem;
   min-height: 20rem;
   display: flex;
   justify-content: center;
   align-items: stretch;
   color: var(--color-text-in-primary);
   background: var(--color-primary);
    
}
/*
.banner-image{
    height: 50%;
    transform: rotate(90deg);
    
}
*/
.logo-container{
    position: absolute;
 }
