.banner-container{
   min-width: 60rem;
   min-height: 20rem;
   display: flex;
   justify-content: center;
   align-items: stretch;
   color: var(--color-text-in-primary);
   background: var(--color-primary);
    
}
.banner-container{
    
}
.banner-container .banner-image{
    width: 500px;
    height: 150px;
    
}
.banner-container .logo-container{
    position: absolute;
 }
 @media( min-width: 1100px){
    .banner-container .banner-image{
        height: 500px;
        width: 200rem;
        transform: rotate(90deg) ;        
    }   
 }